n8n_workflow.json
{
  "name": "Hugo EN→JA Translation",
  "nodes": [
    {
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "node-2",
      "name": "Get EN Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/bsevestakiev/hugo-infragistics/git/trees/main?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-3",
      "name": "Get JA Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/bsevestakiev/hugo-infragistics/git/trees/main?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-4",
      "name": "Find Missing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const enTree = $('Get EN Tree').first().json.tree;\nconst jaTree = $('Get JA Tree').first().json.tree;\n\nconst jaPaths = new Set(\n  jaTree.filter(f => f.type === 'blob').map(f => f.path)\n);\n\nconst missing = enTree\n  .filter(f =>\n    f.type === 'blob' &&\n    f.path.startsWith('content/en/') &&\n    f.path.endsWith('.md')\n  )\n  .filter(f => {\n    const jaPath = f.path.replace('content/en/', 'content/ja/');\n    return !jaPaths.has(jaPath);\n  })\n  .map(f => ({\n    json: {\n      en_path: f.path,\n      ja_path: f.path.replace('content/en/', 'content/ja/')\n    }\n  }));\n\nif (missing.length === 0) {\n  return [{ json: { status: 'nothing to translate' } }];\n}\n\nreturn missing;"
      }
    },
    {
      "id": "node-5",
      "name": "Loop Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-6",
      "name": "Get EN Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/bsevestakiev/hugo-infragistics/contents/{{$json[\"en_path\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "node-7",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst rawContent = Buffer.from(item.content, 'base64').toString('utf-8');\nconst jaPath = item.path.replace('content/en/', 'content/ja/');\n\nconst systemPrompt = `You are a professional translator specializing in technical and marketing content.\nTranslate Hugo Markdown content from English to Japanese.\n\nRules:\n- Output ONLY the translated file. No explanations, no commentary, no code fences.\n- Preserve all YAML keys exactly as-is.\n- Preserve all Markdown formatting: headings, bold, italic, lists, line breaks.\n- Preserve all Hugo shortcodes exactly. Only translate text= and legend= attribute values. Never alter link=, src=, href=, or url= values.\n- Do NOT translate: dates, booleans, numbers, URLs, file paths, CSS values, component type names, proper names, brand names, company names.\n- Keep all YAML structure, indentation, and --- delimiters exactly as given.`;\n\nconst userPrompt = `Translate this Hugo content file from English to Japanese:\\n\\n${rawContent}`;\n\nreturn [{\n  json: {\n    ja_path: jaPath,\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt\n  }\n}];"
      }
    },
    {
      "id": "node-8",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "http://10.20.14.98:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-oss:20b', system: $json.system_prompt, prompt: $json.user_prompt, stream: false }) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "node-9",
      "name": "Encode Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const translated = $input.item.json.response;\nconst jaPath = $('Build Prompt').item.json.ja_path;\n\nconst encoded = Buffer.from(translated, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    ja_path: jaPath,\n    encoded_content: encoded,\n    commit_message: `translate: ${jaPath}`\n  }\n}];"
      }
    },
    {
      "id": "node-10",
      "name": "Create JA File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/bsevestakiev/hugo-infragistics/contents/{{$json[\"ja_path\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: $json.commit_message, content: $json.encoded_content, branch: 'main' }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "GitHub Token"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Get EN Tree", "type": "main", "index": 0}]]
    },
    "Get EN Tree": {
      "main": [[{"node": "Get JA Tree", "type": "main", "index": 0}]]
    },
    "Get JA Tree": {
      "main": [[{"node": "Find Missing", "type": "main", "index": 0}]]
    },
    "Find Missing": {
      "main": [[{"node": "Loop Items", "type": "main", "index": 0}]]
    },
    "Loop Items": {
      "main": [
        [],
        [{"node": "Get EN Content", "type": "main", "index": 0}]
      ]
    },
    "Get EN Content": {
      "main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]
    },
    "Build Prompt": {
      "main": [[{"node": "Call Ollama", "type": "main", "index": 0}]]
    },
    "Call Ollama": {
      "main": [[{"node": "Encode Output", "type": "main", "index": 0}]]
    },
    "Encode Output": {
      "main": [[{"node": "Create JA File", "type": "main", "index": 0}]]
    },
    "Create JA File": {
      "main": [[{"node": "Loop Items", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
